<a href="https://colab.research.google.com/github/m7saikat/IE-7374/blob/master/Lab_0_Introduction_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to python

Python is a widely used general-purpose, high level programming language. It was initially designed by Guido van Rossum in 1991 and developed by Python Software Foundation. It was mainly developed for emphasis on code readability, and its syntax allows programmers to express concepts in fewer lines of code.

This introductory lab is an attempt to get you familiarized with python. You can run each code block to verify the results. It is advised to create a copy of this notebook and play with it.

## Operators

---

### Arithmatic operators

These operators are used for mathematical operations

1. `+`  : Addition 
2. `-`  : Substraction 
3. `*`  : Multiplication 
4. `//` : Division (floor)
5. `/`	 : Division (float)
6. `%`	 : Modulus- returns the remainder when first operand is divided by the second

In [0]:
 # Addition
 1 + 1
 # Should return 2

In [0]:
# Multiplication
2 * 3
# Should return 6

In [0]:
# // Division
10//3
# Should return 3: 10 divided by 3 is 3.33, the //operator returns the floor value of 3.33 = 3

In [0]:
# / Division
10/3
# Should return 3.33: 10 divided by 3 is 3.33, the / operator returns the float value of 3.33 = 3.33

In [0]:
# % Modulus
10 % 3
# Should return 1: When 10 is divided by 3 the remainder is 1

### Relational Operator

Used for comparing values. They usually return `True` or `False`

1. `>`	: Greater than - True, if left operand is greater than the right (syntax - x > y)
2. `<`	:  Less than - True, if left operand is less than the right	(syntax - `x < y`)
3. `==`	:  Equal to - True, if both operands are equal	(syntax - x == y)
4. `!=`	 :  Not equal to - True, if operands are not equal	(syntax - x != y)
5. `>=` :	Greater than or equal to - True, if left operand is greater than or equal to the right	(syntax - x >= y)
6. `<=`	: Less than or equal to - True, if left operand is less than or equal to the right	(syntax - x <= y)

In [0]:
# > : Greater than
print(6>3)

In [0]:
# > : Less than
print (6 < 3)

In [0]:
# == : Equal to
print (6 == 6)

In [0]:
# != : Not Equal to
print (6 != 6)

In [0]:
# >= : Greater than or equal to
print (6 >= 6)
print (6 >= 3)

In [0]:
# <= : Less than or equal to
print (6 <= 6)
print (6 <= 3)

### Logical Operators

They are used to join expressions using AND, OR, NOT clauses

1. `and`: 	Logical AND - True if both the operands are true
2. `or` :	Logical OR - True if either of the operands is true
3. `not`:	Logical NOT - True if operand is false

##### `not` : Logical NOT

In [0]:

a = True
# Complement of True, is False
print (not a)

In [0]:
b = False
# Complement of False, is True
print (not b)

##### `AND` : Logical AND

In [0]:
# The expression (6 == 6) and (7 != 8) is True since both the exression individually is True           
print ((6 == 6) and (7 != 8))

In [0]:
# The expression (6 == 6) and (7 == 8) is False since the one of the exression (7 == 8) is False
print ((6 == 6) and (7 == 8))

##### `OR` : Logical OR

In [0]:
# The expression (6 == 6) or (7 == 8) is True since the one of the exression (6 == 6) is True
print ((6 == 6) or (7 == 8),6 == 6)

In [0]:
# The expression (6 != 6) or (7 == 8) is False since the both of the exression is False
print ((6 != 6) or (7 == 8),6 == 6)

##### **Try out the following examples**

In [0]:
# Try substracting 7 from 15 (Write your code below) 

# Try dividing 20 by 4 (Write your code below) 

# What should be the output of print (9//2)

## Variables

---

We can also store data into variables.

In [0]:
s = 'hello world'

We can print the value stored in a variable using print statement

In [0]:
print (s)

Python does not mandate decalring variables as integers, strings, characters. Data irrespective of it's type can be assigned to any variable. 

One thing to note here, is that variable names should not be amongst the [keywords](https://www.programiz.com/python-programming/keyword-list) defined in python.

Some more examples are as follows.

In [0]:
a = 5
print(a)

##### That being said, in python we can categorize data into the following types.
* **Text** type:	    `str`
* **Numeric** types:	`int`, `float`
* **Sequence** types:	`list`, `tuple`
* **Mapping** type:	  `dict`
* **Set** type: 	    `set`, 
* **Boolean** types:	  `bool`

Given a data stored in a variable, we can find out it's data type, using python's in buit `type` function. 

Here are few examples of how it works

In [0]:
num = 5
print (type(num))

decimal = 3.14
print(type(decimal))

string = 'Reinforcement Learning'
print (type(string))

boolean = False
print ('Variable {} contains data of type {}'.format('boolean', type(boolean)))

We can also store expressions in a variable. For example

In [0]:
a = 5 * 20
print (a)

In [0]:
x = 5
y = 4
z = (x + y)*(x + y)
print(z)

Variables can also store boolean values. The two boolean value are : `True` and `False`

In [0]:
bool_true = True
print(bool_true)

In [0]:
bool_false = False
print (bool_false)

Expressions can aso result in Boolean values, for example,

In [0]:
exprsn = (6 > 3)
print(exprsn)

In [0]:
exprsn = (16 < 10)
print(exprsn)

In [0]:
exprsn = (7 == 7)
print(exprsn)

Example of some

**Try out the following example**

In [0]:
# Given a cube of side 5 unit length, store the volume of the cube in a variable V and print it.(Write your code below) 
# Hint : Volume of a cube is given by : side * side * side

## Strings

---

Like all high level languages Python supports operations like concatenation of strings, trimming strings , etc. Some of these string operations can be made easy by using python.

#### Concatenation of two strings.

##### The usual practice to add two string is shown below

In [0]:
'Hello ' + 'World'

In [0]:
'Sky ' + 'is ' + 'blue.'

##### However, the industry standard to do string concatenation is using the .format method as shown below.

In [0]:
'{} {}'.format('Hello', 'World')

In [0]:
'{} {} {}'.format('Sky', 'is', 'blue')

Given the following variables.

In [0]:
variable_1 = 'foxes'
variable_2 = 'jumped'
variable_3 = 'wall'

To print the statement - The 2 lazy foxes jumped over the wall.', we can use .format as follows.

In [0]:
'The {} lazy {} {} over the {}.'.format(2, variable_1, variable_2, variable_3)

**Try out the following example**

In [0]:
your_name = ' replace with your name'
your_pastime = 'replace with pastime'

In [0]:
# Print : 'My name is <your_name> and my favorite pastime is <your_pastime>',
# given the variables mentioned above using .format (Write your code below)

#### String operations.

##### Changing cases

In [0]:
'hello world'.upper()

In [0]:
'HELLO WORLD'.lower()

##### Finding the length of the a string

In [0]:
len('Hello World')

##### Trimming strings

In [0]:
hello_world = 'Hello, World!'
hello_world[7:12]

##### Splitting Strings

In [0]:
a = 'Reinforcement learning is fun! The opportunities here are endless.'
# The is a delimiter. The string splits at this specified separator. If is not provided then any white space is a separator.
print(a.split(' '))

##  Built-in Data Structures

---

### Lists

Like array list is and ordered collection of data types. for example

In [0]:
a_list = ['apple', 'banana', 'cherry']
print (a_list)

##### Accessing the list

Lists can be accessed using their index numbers. a list starts with index 0 followed by 1, 2 so on and so forth ending in l-1 where l which is the last element of the list, where l is the length of the list.

In [0]:
print (a_list[0], a_list[1], a_list[2])

In python, Lists can also be accessed in the reverse order, using negative index. The last element of the list is -1 the penultimate element is -2, so on and so forth ending in -l denoting the first element of the list, where l is the length of the list.

In [0]:
print (a_list[-1], a_list[-2], a_list[-3])

##### Appending to a list

In [0]:
a_list.append('orange')
print (a_list)

##### Length of the list

In [0]:
print (len(a_list))

##### Looping over a list

In [0]:
for fruit in a_list:
  print ('{} is a delicious fruit'.format(fruit))

##### List methods

The following are the most common used methods used when working with lists. More detailed information on list can be found [here](https://www.programiz.com/python-programming/list)

1. `append()`:	Adds an element at the end of the list
2. `clear()`:	Removes all the elements from the list
3. `copy()`:	Returns a copy of the list
4. `count()`:	Returns the number of elements with the specified value
5. `extend()`:	Adds the elements of a list (or any iterable), to the end of the current list
6. `index()`:	Returns the index of the first element with the specified value
7. `insert()`:	Adds an element at the specified position
8. `pop()`:	Removes the element at the specified position
9. `remove()`:	Removes the item with the specified value
10. `reverse()`:	Reverses the order of the list
11. `sort()`:	Sorts the list

##### **Try out the following example**

In [0]:
# Write a Python program to count the number of strings, form the list given below, where the string length is 4 or more
a_list = ['Reinforcemnet', 'Learning', 'is', 'fun.']

### Sets

A set is another data structure that serves as an unordered list with no duplicate items. Below, we show how to create a set, add things to the set, test if an item is in the set, and perform common set operations (difference, intersection, union)

In [0]:
shapes = ['circle','square','triangle','circle']
setOfShapes = set(shapes)
print (setOfShapes)

In [0]:
num_list = [2,2,3,4,2,2,4,5,3,2]
set_of_num_list = set(num_list)
print(set_of_num_list)

**Note** that the objects in the set are unordered; you cannot assume that their traversal or print order will be the same across machines!

##### Adding an element to a set

In [0]:
setOfShapes.add('polygon')

##### Usage of in statement in sets

In [0]:
print ('circle' in setOfShapes)
print ('rhombus' in setOfShapes)

### Tupples

A data structure similar to the list is the tuple, which is like a list except that it is immutable once it is created (i.e. you cannot change its content once created). Note that tuples are surrounded with parentheses while lists have square brackets. 

The benifit of tupples is that they are more explicit with memory, while lists require overhead, hence operations over tupples are faster than operations over list.

In [0]:
tupple_example = (2,4)

##### Operations on tupple

In [0]:
print(tupple_example[0])

In [0]:
# Deconstruction of tupple: Tupples can be deconstructed using the below syntax

two, four = tupple_example
print (two, four)

### Dictionary

The dictionary stores a map from one type of object (the key) to another (the value). The key must be an immutable type (string, number). The value can be any Python data type.

Keys in dictionary needs to be unique. Duplicate keys are not allowed, however duplicate values are allowed, i.e two differnt keys can have same values, however two different values cannot have same keys

In [0]:
 students = {1: 'knuth', 2: 'Turing', 4: 'Richie'}
 print(studentIds)

In [0]:
 students[1]

Mapping can also be between a key and a list, for example

In [0]:
students[1] = ['Knuth', 'Smith', 42]

In [0]:
students

#### Dictionary operations

##### Getting all the keys of a dictionary

In [0]:
 students.keys()

##### Getting all the values in a dictionary.

In [0]:
 students.values()

##### Getting the length of the dictionary

In [0]:
len(students)

##### **Try out the following example**

Given the a dictionary of fruits and their prices, print `'<fruit_name> is too expensive'` if the price of fruit is more than or equal to 4 dollars, or else print `<fruit_name> costs <price_of_fruit>`

In [0]:
fruitPrices = {'apples': 4.00, 'oranges': 4.50, 'cherry': 1.75, 'bananna': 1.15}

## Conditional statements

---

### If statement

If statement in python behaves in the same manner as it does in other programming languages.

In [0]:
reward_right_action = 6
reward_left_action = 2
if reward_left_action < reward_right_action:
  print("reward_right_action is lesser than reward_right_action")
else:
  print("reward_right_action is not less reward_right_action")

### if elif else statement

The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [0]:
reward_right_action = 6
reward_left_action = 6
if reward_left_action < reward_right_action:
  print("reward_right_action is lesser than reward_right_action")
elif  reward_left_action == reward_right_action:
  print("reward_right_action is equal to reward_right_action")
else:
  print("reward_right_action is greater than reward_right_action")

## Loops in Python

---

The following type of loops are available in python

### For in loop

For loops are usually used to sequentially traverse a list. The `for in` loop is almost equivalent to `for` loop in other languages. The `for in` loop iterates over the list using the element of the list instead of the index.

In [0]:
# Iteration over a list
a_list = ['Reinforcemnet', 'Learning', 'is', 'fun.']
for word in a_list:
  print (word)

In [0]:
# Iterating over a String 
s = "RL is fun."     
for i in s : 
    print(i)

In [0]:
# Iterating over dictionary 
action_reward = dict()  
action_reward['reward'] = 5
action_reward['action'] = 'Turn right'
for i in action_reward : 
    print('{} : {}'.format(i, action_reward[i]))

### For loop using index

 We can also use the index of elements in the sequence to iterate. The key idea is to first calculate the length of the list and in iterate over the sequence within the range of this length.

In [0]:
a_list = ['Reinforcemnet', 'Learning', 'is', 'fun.']
print(len(a_list))
for index in range(len(a_list)): 
    print ('{} : {}'.format(index, a_list[index]))

In [0]:
# Code to print the square of each elemnent in a given list.
num_array = [2,3,5,32,5,8,9,4,6,21]
square_array = []
for digit in num_array:
  square_array.append(digit**2)
print (square_array)

### While loop

While loop is used to execute a block of statements repeatedly until a given a condition is satisfied. And when the condition becomes false, the line immediately after the loop in program is executed.

In [0]:
# While loop till count is less than 3
count = 0
while (count < 3):     
    count = count + 1
    print("Reinforcement Learning")

## Functions

---

A function is a set of statements that take inputs, do some specific computation and produces output. The idea is to put some commonly or repeatedly done task together and make a function, so that instead of writing the same code again and again for different inputs, we can call the function.

A function starts with the keyword `def` folowed by the name of the function.

In [0]:
# Fucntion to check if a number is prime or not
# If given number is greater than 1 
def is_prime(num):
    if num > 1:   
        for i in range(2, num//2): 
        # If num is divisible by any number between  
        # 2 and n / 2, it is not prime  
          if (num % i) == 0: 
              print(num, "is not a prime number") 
              break
          else: 
              print(num, "is a prime number")
    else:
       print(num, "is a prime number")

In [0]:
is_prime(12)

In [0]:
is_prime(7)

In [0]:
# Function to take 3 strings and append them into a sentence.
def make_sentence(word_1, word_2, word_3):
  new_sentence = "{} {} {}.".format(word_1, word_2, word_3)
  return new_sentence

In [0]:
make_sentence('Learning', 'is', 'fun')

##### **Try out the following example**

Write a function that takes a number and returns true if it is a even number and false if it is a odd number.

In [0]:
def even_odd(num):

## Numpy


---


NumPy is a package that defines a multi-dimensional array object and associated fast math functions that operate on it. It also provides simple routines for linear algebra. 

We would be using numpy to generate random gaussian distribution, generating random numbers, lists, etc. A very complete manual by the principal author of Numpy, Travis Oliphant, can be [found here](http://csc.ucdavis.edu/~chaos/courses/nlp/Software/NumPyBook.pdf). 

Further documentation is available from http://docs.scipy.org/doc/

### Arrays

A numpy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. The number of dimensions is the rank of the array; the shape of an array is a tuple of integers giving the size of the array along each dimension.

We can initialize numpy arrays from nested Python lists, and access elements using square brackets

In [0]:
import numpy as np
a = np.array([1, 2, 3])   # Create a rank 1 array

In [0]:
print('Data type of a is {}'.format(type(a)))            # Prints "<class 'numpy.ndarray'>"

In [0]:
print('Shape of a is {}'.format(a.shape))            # Prints "(3,)"

In [0]:
print('The elements of the array are: {}, {}, {}'.format(a[0], a[1], a[2]))   # Prints "1 2 3"

In [0]:
a[0] = 5                  # Change an element of the array
print('The new the array is {}'.format(a))                  # Prints "[5, 2, 3]"

In [0]:
b = np.array([[1,2,3],[4,5,6]])    # Create a rank 2 array
print('The shape of the array is {}'.format(b.shape))                     # Prints "(2, 3)"
print('b[0, 0] = {}, b[0, 1]={}, b[1, 0]={}'.format(b[0, 0], b[0, 1], b[1, 0]))   # Prints "1 2 4"

Numpy also provides many functions to create arrays:

In [0]:
# the method zeros return a new array of given shape and type, filled with zeros.
a = np.zeros((2,2))   # Create an array of all zeros
print(a)              # Prints "[[ 0.  0.]
                      #          [ 0.  0.]]"

In [0]:
# the method ones return a new array of given shape and type, filled with zeros.
b = np.ones((1,2))    # Create an array of all ones
print(b)              # Prints "[[ 1.  1.]]"

### Creating random numbers/list

Using numpy to generate an array with 10 random numbers from a normal distribution

In [0]:
import numpy as np

# for the below menitoned function,
# loc = Mean (centre) of the distribution.
# scale = Standard deviation (spread or width) of the distribution.
# size = Output size
# Thus the below function provides us with 10 numbers with a std deviation of 1 and mean of 0
rand_num = np.random.normal(loc = 0, scale = 1, size =10)
print("10 random numbers from a standard normal distribution:")
print(rand_num)

## Matplotlib

---
Matplotlib is a multi-platform data visualization library built on NumPy arrays. Matplotlib consists of several plots like line, bar, scatter, histogram etc.

Matplotlib comes with a wide variety of plots. Plots helps to understand trends, patterns, and to make correlations. Theyre typically instruments for reasoning about quantitative information. Some of the sample plots are covered here.

More plots and example can be found at https://matplotlib.org/tutorials/index.html

##### Plotting lines

In [0]:
# using the pyplot function
# importing matplotlib module  
from matplotlib import pyplot as plt 
  
# x-axis values 
x = [1, 2, 3, 4, 5] 
x1 = [2,4,6,8,10]

# Y-axis values 
y = [10, 9, 8, 7, 6] 
y1 = [1,2,3,4,5]

# Function to plot the two set of points
plt.plot(x,y, label='Line 1') 
plt.plot(x1, y1, label='Line 2')


# Setting Names for axis, legends, legend location for axis
plt.title('PLotting lines using matplotlib')
plt.xlabel('X-Axis', fontsize=18)
plt.ylabel('Y Axis', fontsize=16)
plt.legend(loc="upper right")

# function to show the plot 
plt.show()

##### Plotting bar graphs

In [0]:
# importing matplotlib module  
from matplotlib import pyplot as plt 
  
# x-axis values 
x = [5, 2, 9, 4, 7] 
  
# Y-axis values 
y = [10, 5, 8, 4, 2] 
  
# Function to plot the bar 
plt.bar(x,y) 
  
# function to show the plot 
plt.show()

##### Plotting scatter plots

In [0]:
# importing matplotlib module  
from matplotlib import pyplot as plt 
  
# x-axis values 
x = [5, 2, 9, 4, 7] 
  
# Y-axis values 
y = [10, 5, 8, 4, 2] 
  
# Function to plot scatter 
plt.scatter(x, y) 
  
# function to show the plot 
plt.show()